
{% block title %}
Contract extension
{% endblock %}

{% block content %}

<!-- ---------------------------------------------------------------------------------------------------- -->
<!--                                            STYLES                                                    -->
<!-- ---------------------------------------------------------------------------------------------------- -->

{% block styles %}
    {% include '_templates/styles/reemploy_page.html' %}
{% endblock %}

<!-- ---------------------------------------------------------------------------------------------------- -->
<!--                                            PAGE VIEW                                                 -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<!-- CHECK FOR REEMPLOY -->
{% include '_templates/includes/reemploy_check.html' %}

<!-- NEXT BUTTON -->
{% include '_templates/includes/next_button_hidden.html' %}

<!-- ---------------------------------------------------------------------------------------------------- -->
<!--                                            FUNCTIONS                                                 -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<!-- LOAD CUSTOM JAVA SCRIPTS -->
<script src="{% static "js/setReemployValue.js" %}"> </script>

{{ endblock }}