

{% extends "global/Page.html" %}
{% load otree static %}


{% block styles %}
    {% include '_templates/styles/work_page.html' %}
{% endblock %}


{% block content %}
    <!-- INFO BOX EFFORT CHOICE -->
    {% include '_templates/includes/effort_choice_info.html' %}

    <!-- EFFORT CHOICE MASK -->
    {% include '_templates/includes/effort_choice_mask.html' %}

    <!-- NEXT BUTTON -->
    <br><br>
    {{ next_button }}
{% endblock %}

{% block scripts %}
    <script src="{% static 'javascript/submitEffort.js' %}"></script>
{% endblock %}



