
{% block content %}

<!-- ---------------------------------------------------------------------------------------------------- -->
<!--                                            STYLES                                                    -->
<!-- ---------------------------------------------------------------------------------------------------- -->

{% block styles %}
    {% include '_templates/styles/work_page.html' %}
{% endblock %}


<!-- ---------------------------------------------------------------------------------------------------- -->
<!--                                            PAGE VIEW                                                 -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<!-- INFO BOX EFFORT CHOICE -->
{% include '_templates/includes/effort_choice_info.html' %}

<!-- EFFORT CHOICE MASK -->
{% include '_templates/includes/effort_choice_mask.html' %}

<!-- NEXT BUTTON -->
<br><br>
{{ next_button }}


<!-- ---------------------------------------------------------------------------------------------------- -->
<!--                                            FUNCTIONS                                                 -->
<!-- ---------------------------------------------------------------------------------------------------- -->

<!-- LOAD CUSTOM FUNCTIONS -->
<script src="{% static 'javascript/submitEffort.js' %}"></script>


{% endblock %}