
{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Contract extension
{% endblock %}

{% block styles %}
    {% include '_templates/styles/reemploy_page.html' %}
{% endblock %}

{% block content %}
    <!-- CHECK FOR REEMPLOY -->
    {% include '_templates/includes/reemploy_check.html' %}

    <!-- NEXT BUTTON -->
    {% include '_templates/includes/next_button_hidden.html' %}
{{ endblock }}

{% block scripts %}
    <!-- LOAD CUSTOM JAVA SCRIPTS -->
    <script src="{% static 'javascript/setReemployValue.js' %}"></script>
{% endblock %}

