


{% block content %}

<style>

    .otree-timer {
    display: none;
}
  body {
    background-color: #f8f9fa;
    color: #333;
    padding: 0px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 6px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #fff;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
     color: #555;
    font-size: 16px;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  .card {
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }

  .card-subtitle {
    font-size: 16px;
     color: #555;
      font-weight: bold;
  }

  .card-body {
    margin-top: 2px;
  }

  .card-body p {
    margin-bottom: 0;
  }


   .btn-joint {
        background-color: transparent;
        border: 2px solid #555;
        border-radius: 50%;
        padding: 10px 20px;
        margin: 0 5px;
        color: #555;
        font-size: 16px;
        cursor: pointer;
    }

   .worker-section {
    margin-bottom: 20px; /* Adjust the value as needed */
    padding: 10px;
    border: 1px solid #ccc; /* Add a border for visual separation */
    border-radius: 5px;
}

</style>


<div class="container mt-4">
  <div class="card" style="border-radius: 10px; border: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
      <h5 class="card-title">Private Offers</h5>
        <p class="mb-4">You can submit a private offer to each player you employed this round.<br>
         Click "next" once you are done sending offers. If you do not want to send any private offers, click "next" now.
        </p>
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="card" style="border-radius: 10px; border: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">
                <div class="card-header bg-secondary text-white" style="border-radius: 10px 10px 0 0;">
                  Private offer 1
                </div>
                <div class="card-body" id="private_offer_1" style="display: block">
                  <p class="mb-4">You paid this worker a wage of {{ wage_1 }}.<br>
                      The worker provided {{ effort_given_1_string }} effort.</p>
                      <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="wage-addon1">Wage</span>
                            </div>
                            <input id="wage_input_1" class="form-control" placeholder="0 - {{ max_wage }}" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="effort-addon1">Effort</span>
                                </div>
                                <select id="effort_input_1" class="form-select" aria-label="Default select example">
                                  <option selected>Choose effort</option>
                                  <option value="1">standard</option>
                                  <option value="0">low</option>
                                </select>
                        </div>
                    <button type="button" class="btn btn-secondary" id="send_offer_1" onclick="sendOffer(this.id)"> Send Offer</button>
                </div>
                  <div class="card-body" id="private_offer_1_accepted" style="display: none">
                        <p class="mb-4">You offered a wage of <span id="wage_1"></span> for <span id="effort_1"></span> effort.</p>
                    </div>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="card" style="border-radius: 10px; border: none; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);">

                  {{ if num_workers == 2 }}

                    <div class="card-header bg-secondary text-white" style="border-radius: 10px 10px 0 0;">
                      Private offer 2
                    </div>
                    <div class="card-body" id="private_offer_2" style="display: block">
                        <p class="mb-4">You paid this worker a wage of {{ wage_2 }}.<br>
                        The worker provided {{ effort_given_2_string }} effort.</p>
                          <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="wage-addon2">Wage</span>
                                </div>
                                <input id="wage_input_2" class="form-control" placeholder="0 - {{ max_wage }}" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="effort-addon2">Effort</span>
                                    </div>
                                    <select id="effort_input_2" class="form-select" aria-label="Default select example">
                                      <option selected>Choose effort</option>
                                      <option value="1">standard</option>
                                      <option value="0">low</option>
                                    </select>
                            </div>
                        <button type="button" class="btn btn-secondary" id="send_offer_2" onclick="sendOffer(this.id)"> Send Offer</button>
                    </div>
                    <div class="card-body" id="private_offer_2_accepted" style="display: none">
                        <p class="mb-4">You offered a wage of <span id="wage_2"></span> for <span id="effort_2"></span> effort.</p>
                    </div>
                    {{ endif }}
                </div>
            </div>
          </div>
        </div>
  </div>
</div>








<br>

<button class="otree-btn-next btn btn-primary" id="next">Next</button>




<script>

    function isNumeric(input) {
        const regex = /^[0-9]+$/;
        return regex.test(input);
    }


    function liveRecv(data) {
        if (data['information_type'] == 'received') {
            var wage_points = data['wage_points'];
            var wage_tokens = data['wage_tokens'];
            if (data['job_number']==1) {
                document.getElementById("private_offer_1").style.display = "none";
                document.getElementById("private_offer_1_accepted").style.display = "block";
                var effort_1 = document.getElementById("effort_1");
                var wage_1 = document.getElementById("wage_1");
                let wage_displayed = js_vars.currency_is_points ? wage_points : wage_tokens
                wage_1.textContent = wage_displayed
                effort_1.textContent = data['string_effort'];
            } else if (data['job_number']==2) {
                document.getElementById("private_offer_2").style.display = "none";
                document.getElementById("private_offer_2_accepted").style.display = "block";
                var effort_2 = document.getElementById("effort_2");
                var wage_2 = document.getElementById("wage_2");
                let wage_displayed = js_vars.currency_is_points ? wage_points : wage_tokens;
                wage_2.textContent = wage_displayed;
                effort_2.textContent = data['string_effort'];
            } else {
                console.log("Error: job number not 1 or 2");
            }
        }
        var privateOffer1 = document.getElementById("private_offer_1");
        var privateOffer2 = document.getElementById("private_offer_2");

        if ((!privateOffer1 || privateOffer1.style.display === "none") && (!privateOffer2 || privateOffer2.style.display === "none")) {
            document.getElementById("next").click();
        }
    }


function sendOffer(offer_sent) {
        let job_offer_number = parseInt(offer_sent.slice(-1));
        let effort_input_element = document.getElementById(`effort_input_${job_offer_number}`);
        let wage_input_element = document.getElementById(`wage_input_${job_offer_number}`);
        if (!isNumeric(effort_input_element.value) || !isNumeric(wage_input_element.value)) {
            alert("Error: Please choose a wage and an effort level before sending the offer.");
            return;
          }
        let effort_inputted = parseInt(effort_input_element.value);
        let wage_inputted = parseInt(wage_input_element.value);
        let max_wage = js_vars.max_wage;
        console.log(max_wage)
        if (isNaN(wage_inputted) || isNaN(effort_inputted)) {
            alert("Error: Please enter a number in both fields before sending offer.");
            return;
        } else if (wage_inputted < 0 || wage_inputted > max_wage) {
            alert("Error: Please specify a wage between 0 and " +  max_wage + ".");
            return;
        } else if (effort_inputted < 0 || effort_inputted > 1) {
            alert("Error: Please choose either standard or low effort.");
            return;
        } else {
            let my_id = js_vars.my_id;
            let currency_is_points = js_vars.currency_is_points;
            if (job_offer_number== 1) {
                var worker_id = js_vars.worker_id_1;
            } else {
                var worker_id = js_vars.worker_id_2;
            }
            liveSend({
                "information_type": "private_offer",
                "employer_id": my_id,
                "worker_id": worker_id,
                "wage": wage_inputted,
                "effort": effort_inputted,
                "job_number": job_offer_number,
                "currency_is_points": currency_is_points,
            });
        }
        document.getElementById(`effort_input_${job_offer_number}`).value = "";
        document.getElementById(`wage_input_${job_offer_number}`).value = "";
    }

</script>

{{ endblock }}