
{{ block content }}

<style>
    .underline {
        text-decoration: underline;
        margin-top: 20px;
    }
    .tab {
        margin-top: 0.5cm;
        margin-inside: 1cm;
    }
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
        color: #333;
        padding: 10px;
    }
    p {
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 30px;
    }
    .block-sentence {
        display: block;
        text-align: justify;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #ffffff;
    }

    tr:last-child td {
        border-bottom: none;
    }

    .container {
        margin: 0 auto;
        padding: 10px;
    }
</style>

<div class="tab" id="instructions_1" style="display: block">
    <div class="card">
        <h5 class="card-header">Payment</h5>
        <div class="card-body">
             <p class="block-sentence">
                 At the beginning of the experiment, you will receive an  <b>initial endowment of {{ participation_fee }} Pounds</b>.
                 During the experiment, you can earn more money by accumulating {{ currency_plural }}.
                 The amount earned will depend on your decisions and those of the other participants.
             </p>
            <p class="block-sentence">
                All {{ currency_plural }} you earn will be converted to Pounds at the end of the experiment. The exchange rate will be
            </p>
             <p style="margin-left: 50px;">
                    <b>1 {{ currency }} = {{ exchange_rate }} Pounds</b>.
             </p>
            <p class="block-sentence">
                At the end of the experiment, you will receive the money you earned during the experiment in addition to your {{ participation_fee }}-Pound initial endowment.
                You will be paid via PayPal.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>



<div class="tab" id="instructions_2" style="display: none">
    <div class="card">
        <h5 class="card-header">Instructions - Part 1</h5>
        <div class="card-body">
            <p class="block-sentence">
                This set of instructions describes the first part of the experiment.
                After you finish the first part, there will be another set of instructions for the second part.
                The second part is very similar to the first part.
            </p>
            <p class="block-sentence">
                Please read the following instructions carefully.
                After the instructions, you will be asked a <b>set of questions to ensure you understand</b> the instructions.
                The experiment will begin after every participant has answered all questions.
            </p>
            <p class="block-sentence">
                If you have any <b>questions, please raise your hand</b>.
                We will answer your questions at your cubicle.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>


<div class="tab" id="instructions_3" style="display: none">
    <div class="card">
        <h5 class="card-header">General Information</h5>
        <div class="card-body">
          <p class="block-sentence">
              The experiment is divided into {{ total_rounds }} rounds, {{ shock_after_rounds }} rounds in the first part and {{ rounds_part_two }} rounds in the second part.
            </p>
            <p class="block-sentence">
                You have been randomly assigned to one of two roles: either an employer or a worker.
            </p>
            <p style="margin-left: 50px;">
                    <b>You will take the role of {{ player.participant.string_role }}</b>.
                    You will keep this role for the entire course of the experiment.
            </p>
            <p class="block-sentence">
                In the first part, you will interact in a group of {{ players_in_your_group }} randomly assigned participants.
                Each group has {{ employers_in_your_group }} employers and {{ workers_in_your_group }} workers.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>



<div class="tab" id="instructions_4" style="display: none">
    <div class="card">
        <h5 class="card-header">Short Overview of the Experimental Procedures</h5>
        <div class="card-body">
           <p class="block-sentence">
               In each round, employers choose to employ zero, one, or two workers.
               To employ a worker, an employer needs to pay a wage. In return, employed workers provide effort.
               Workers choose how much effort to provide after they accept a job offer.
               Effort is costly to workers, so they make profits only if their effort costs are lower than the wage they receive.
            </p>
            <p class="block-sentence">
            On the other hand, your profits will depend on:
            </p>
            <ol class="list" style="margin-top: -10px">
                <li> the number of workers you employ </li>
                <li> the wages you pay </li>
                <li> the effort workers provide </li>
            </ol>
            <p class="block-sentence">
                You make profits if the effort you receive is worth more than the wages you pay.
            </p>
            <p>
               The first part lasts for {{ shock_after_rounds }} rounds. Each round has two phases:
            </p>
            <p class="block-sentence">
                1. First, a <b>market phase</b> lasting for {{ market_time }} seconds.
                During this phase, employers can submit job offers, which workers can accept.
                When submitting a job offer, an employer specifies two things
            </p>
                <ul class="list" style="margin-top: -10px">
                    <li>	The wage they will pay  </li>
                    <li>	The effort they want the worker to provide </li>
                </ul>

            <p class="block-sentence">
           Once employers submit offers, workers get to see them and decide which to accept.
                The first worker to accept an offer will get it.
                <b>Each worker can accept at most one job offer in each round.
                Each employer can employ at most two workers.</b>
                Unaccepted offers are deleted at the end of the market phase.
            </p>
            <p class="block-sentence">
                2. After the market phase, workers who accepted a job offer enter the <b>production phase</b>.
                In this phase, workers decide their effort.
                <b>Workers are not forced to provide the effort desired by the employer.
                They are free to choose any effort.</b>
            </p>
            <p class="block-sentence">
                Once all workers have chosen their effort, everyone's profits are calculated and the next round starts.
                The sum of your profits across all rounds will determine your earnings for the experiment.
            </p>
        </div>
    </div>
    <br>
  <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>



<div class="tab" id="instructions_5" style="display: none">
    <div class="card">
        <h5 class="card-header">The Market Phase in Detail</h5>
        <div class="card-body">
           <p class="block-sentence">
            Each round begins with a <b>market phase</b>.
           </p>
            <p class="block-sentence">
                The figure below shows a preview of the market phase screen.
                The white box below the timer gives <b>information</b> about the market, including the round number,
                the number of workers and employers, the number of open offers,
                the number of workers who have not accepted a job offer, the share of offers requesting high effort,
                and the average wage of all open and accepted offers in the market.
            </p>
            <div style="display: flex; justify-content: center;">
                {% if player.participant.currency_is_points == True %}
                    <img src="{% static 'instruction/employer_points_1.jpg' %}" alt="Employer 1 points" style="max-width: 80%;"/>
                {% else %}
                    <img src="{% static 'instruction/employer_tokens_1.jpg' %}" alt="Employer 1 tokens" style="max-width: 80%;"/>
                {% endif %}
            </div>
            <p class="block-sentence" style="margin-top: 5px">
                To <b>make a job offer</b>, use "Trading box" in the middle of the page.
                You can send up to two job offers at the same time.
            </p>
            <p class="block-sentence">
            To send a job offer, you must:
            </p>
                <ol class="list" style="margin-top: -10px">
                    <li>choose a wage between 0 and {{ max_wage }} {{ currency_plural }}.</li>
                    <li>indicate whether you want the worker to provide <b>"high"</b> or <b>"low"</b> effort.</li>
                    <li>click on "Send Offer".</li>
                </ol>
            <p class="block-sentence; padding-bottom: 5px;">
                Once you <b>submit a job offer</b>, it will appear in the table "Open offers" at the bottom of the page.
                See the figure below for an example of how the screen will look.
            </p>
            <div style="display: flex; justify-content: center;">
                {% if player.participant.currency_is_points == True %}
                    <img src="{% static 'instruction/employer_points_2.jpg' %}" alt="Employer 2 points" style="max-width: 80%;"/>
                {% else %}
                    <img src="{% static 'instruction/employer_tokens_2.jpg' %}" alt="Employer 2 tokens" style="max-width: 80%;"/>
                {% endif %}
            </div>
            <p class="block-sentence" style="margin-top: 5px">
                Workers can accept an offer as long as it is "open".
                You can have up two open job offers at a time.
                You can also submit no offer at all.
                To withdraw or change a job offer, click on "Cancel Offer".
            </p>
            <p class="block-sentence">
                Open offers from all employers are visible to everyone in the "Open Offers" table.
                <b>Workers can accept at most one offer during each round</b>, and each job offer can only be accepted by one worker.
                If your offer is accepted, you will see a notification and the offer will appear in the "Accepted Offers" table.
                See the figure below for an example of how the screen will look after a worker accepts your first job offer.
            </p>
            <div style="display: flex; justify-content: center;">
                {% if player.participant.currency_is_points == True %}
                    <img src="{% static 'instruction/employer_points_3.jpg' %}" alt="Employer 3 points" style="max-width: 80%;"/>
                {% else %}
                    <img src="{% static 'instruction/employer_tokens_3.jpg' %}" alt="Employer 3 tokens" style="max-width: 80%;"/>
                {% endif %}
            </div>
            <p class="block-sentence" style="margin-top: 5px">
                The market phase <b>ends</b> when all workers have accepted an offer or when the time limit of {{ market_time }} seconds is reached.
                The time left in the current round will be displayed in a yellow box at the top of the page.
                When the market phase is over, no offers can be submitted or accepted.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>




<div class="tab" id="instructions_6" style="display: none">
    <div class="card">
        <h5 class="card-header">The Production Phase in Detail</h5>
        <div class="card-body">
            <p class="block-sentence">
                Following the market phase, all workers who have accepted a job offer enter the production phase.
               In this phase, workers choose their effort. <b>The effort requested by employers is not binding</b>.
               Hence, workers can choose <b>high</b> or <b>low</b> effort irrespective of the effort indicated in the job offer.
            </p>
            <p class="block-sentence">
                The page which workers see looks like the one shown below.
                At the top of the page, workers see the wage they accepted and the effort requested by the employer.
                Below, they see the cost of each effort choice.
            </p>
                <ul class="list" style="margin-top: -10px; margin-bottom: 15px">
                    <li> <b> The cost of Low effort is {{ low_effort_points_tokens }} {{ currency_plural }} </b></li>
                    <li> <b> The cost of High effort is {{ high_effort_points_tokens }} {{ currency_plural }}  </b></li>
                </ul>
            <br>
            <div style="display: flex; justify-content: center; margin-bottom: 10px">
                {% if player.participant.currency_is_points == True %}
                    <img src="{% static 'instruction/worker_points_3.jpg' %}" alt="Worker 3 points" style="max-width: 80%;"/>

                {% else %}
                    <img src="{% static 'instruction/worker_tokens_3.jpg' %}" alt="Worker 3 tokens" style="max-width: 80%;"/>
                {% endif %}
            </div>
            <h5 class="underline">How are the workers' profits calculated?</h5>
            <p class="block-sentence">
                In each round, the workers' profits depend on whether they are employed, their wage, and their effort level.
            </p>
            <ul class="list" style="margin-top: -10px">
                <li> If a worker does not accept a job offer, they earn <b> {{ outside_option_workers_points_tokens }} {{ currency_plural }} </b></li>
                <li> If a worker accepts a job offer and chooses Low effort, their profits equal the wage minus the low cost of effort: <b> wage – {{ low_effort_points_tokens }} {{ currency_plural }}  </b></li>
                <li> If a worker accepts a job offer and chooses High effort, their profits equal the wage minus the high cost of effort: <b> wage – {{ high_effort_points_tokens }} {{ currency_plural }}  </b></li>
            </ul>
            <p class="block-sentence">
                <u>Example</u>: if a workers receives a wage of {{ worker_example_wage }}  {{ currency_plural }} and chooses high effort, their profits in this round are {{ worker_example_wage }} –  {{ high_effort_points_tokens }} = {{ worker_example_profit_high_effort }} {{ currency_plural }}.
                If, instead, the worker chooses Low effort, the profits are {{ worker_example_wage }} – {{ low_effort_points_tokens }} = {{ worker_example_profit_low_effort }} {{ currency_plural }}.
            </p>
           <p class="block-sentence">
               As you can see, a worker's profits are larger the higher their wage.
                Their profit is also higher if they choose Low effort.
                Note that a worker can make a loss if the effort costs are higher than their wage.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>



<div class="tab" id="instructions_7" style="display: none">
    <div class="card">
        <h5 class="card-header">How are your profits calculated?</h5>
        <div class="card-body">
           <p class="block-sentence">
               Your profits in each round are determined by the wages you pay to your workers, the effort they choose, and the number of workers you employ.
           </p>
            <p class="block-sentence">
                If you <b>do not employ any workers</b> in a round, you earn 0 {{ currency_plural }} in that round.
            </p>
            <p class="block-sentence">
                If you employ one or two workers, your profit is the difference between your total revenue and the wages you pay:
            </p>
            <p style="margin-left: 50px;">
                <b>Profit = Total revenue - total wage payments</b>.
            </p>
            <p class="block-sentence">
                The total revenue depends on the number of workers you employ and their effort, according to the table below.
            </p>
            <div style="max-width: 80%; margin: 0 auto; padding: 10px;">
              <table style="border-collapse: collapse; width: 100%;">
                <tr>
                    <th style="border: 1px solid black;">Case</th>
                    <th style="border: 1px solid black;">Revenue per worker</th>
                    <th style="border: 1px solid black;">Total revenue</th>
                </tr>
                <tr>
                    <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>Both workers chose High effort.</td>
                    <td style="border: 1px solid black;">{{ gain_high_effort_2_workers }}</td>
                    <td style="border: 1px solid black;">{{ total_gain_high_effort_2_workers }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>One worker chooses High effort.<br>The other worker chooses Low effort.</td>
                    <td style="border: 1px solid black;">{{ gain_mix_effort_2_workers }}</td>
                    <td style="border: 1px solid black;">{{ total_gain_mix_effort_2_workers }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>Both workers chose Low effort.</td>
                    <td style="border: 1px solid black;">{{ gain_low_effort_2_workers }}</td>
                    <td style="border: 1px solid black;">{{ total_gain_low_effort_2_workers }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; word-break: break-word;">Employ one worker.<br>The worker chooses High effort.</td>
                    <td style="border: 1px solid black;">{{ gain_high_effort_1_worker }}</td>
                    <td style="border: 1px solid black;">{{ gain_high_effort_1_worker }}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid black; word-break: break-word;">Employ one worker.<br>The worker chooses Low effort.</td>
                    <td style="border: 1px solid black;">{{ gain_low_effort_1_worker }}</td>
                    <td style="border: 1px solid black;">{{ gain_low_effort_1_worker }}</td>
                </tr>
            </table>
            </div>
            <br>
        <p>
            <u>Example</u>: Suppose you employ two workers.
            You pay one worker a wage of 60 {{ currency_plural }} and the other worker a wage of 40 {{ currency_plural }}.
        </p>
        <ul>
            <li>
                If both workers choose High effort, then your profits equal to {{ total_gain_high_effort_2_workers }} – 60 – 40 = {{ profit_employer_example_1 }} {{ currency_plural }}.
            </li>
            <li>
                Alternatively, if one worker chooses High effort and the other Low effort, then your profits equal {{ total_gain_mix_effort_2_workers }} – 60 – 40 = {{ profit_employer_example_2 }} {{ currency_plural }}.
            </li>
        </ul>
        <p>
           Note you <b>make</b> a loss if the total wage payments are larger than the total revenue.
        </p>
    </div>
     </div>
        <br>
  <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this); ChangeHeader();">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>

<div class="tab" id="are_you_ready_q" style="display: none">
    <div class="card">
        <h5 class="card-header">Are you ready?</h5>
        <div class="card-body">
            <p class="block-sentence">
               The experiment will not start until all participants are familiar with the instructions.
                To ensure this is the case, we ask you to <b>answer three questions</b> on the following pages.
            </p>
            <p class="block-sentence">
                Click on the next button below when you are ready to answer these questions.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this);">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToComprehension(this)" style="float: right;">Next</button>
    </p>
</div>




<div class="tab" id="comprehension_q1" data-solved="0" style="display: none">
    <div class="card">
        <h5 class="card-header">Question 1</h5>
        <div class="card-body">
            <p>
                Suppose an employer employed no worker and a worker accepted no job. <br>
                What profits would the worker and the employer make in this case?
            </p>
            <table>
                <tr>
                    <td>
                        <input type="number" id="q1_employer_profit" class="form-control" placeholder="Employer profit">
                    </td>
                    <td>
                        <input type="number" id="q1_worker_profit" class="form-control" placeholder="Worker profit">
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="q1" onclick="submitAnswer(this.id)"> Submit Answer</button>
                    </td>
                </tr>
            </table>
            <div style="margin-top: 20px;"></div>
            <hr style="border-top: 1px solid #ccc;">
            <button type="button" class="btn btn-outline-secondary" id="show-info-button1" onclick="showInformation(this.id)" style="display: none">Click for information on how profits are calculated</button>
            <button type="button" class="btn btn-outline-secondary" id="hide-info-button1" onclick="hideInformation(this.id)" style="display: none">Click to hide information</button>
            <div id="explainer-clicked1" style="display: none">
                    <h5 class="underline">Worker profits</h5>
                <ul class="list" style="margin-top: -10px;">
                    <li> If a worker accepts no job offer, you earn <b> {{ outside_option_workers_points_tokens }} {{ currency_plural }} </b>.</li>
                    <li> If a worker a job offer and chooses Low effort, profits equal the wage minus the low cost of effort: <b> wage – {{ low_effort_points_tokens }} {{ currency_plural }}  </b>.</li>
                    <li> If a worker a job offer and chooses High effort, profits equal the wage minus the high cost of effort: <b> wage – {{ high_effort_points_tokens }} {{ currency_plural }}  </b>.</li>
                </ul>
                <div style="margin-top: 20px;"></div>
                <h5 class="underline">Employer profits</h5>
                 <p class="block-sentence">
                    If an employers <b>does not employ any workers</b>, they earn <b>0 {{ currency_plural }}</b>.
                    If they employ one or two workers, profits are the difference between the total revenue and the wages they pay:
                </p>
                <p style="margin-left: 50px;">
                    <b>Profit = Total revenue - total wage payments</b>.
                </p>
                <p class="block-sentence">
                    The total revenue depends on the number of workers they employ and the effort workers choose, according to the table below.
                </p>
                   <div style="max-width: 80%; margin: 0 auto; padding: 10px;">
                      <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <th style="border: 1px solid black;">Case</th>
                            <th style="border: 1px solid black;">Revenue per worker</th>
                            <th style="border: 1px solid black;">Total revenue</th>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>Both workers chose High effort.</td>
                            <td style="border: 1px solid black;">{{ gain_high_effort_2_workers }}</td>
                            <td style="border: 1px solid black;">{{ total_gain_high_effort_2_workers }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>One worker chooses High effort.<br>The other worker chooses Low effort.</td>
                            <td style="border: 1px solid black;">{{ gain_mix_effort_2_workers }}</td>
                            <td style="border: 1px solid black;">{{ total_gain_mix_effort_2_workers }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>Both workers chose Low effort.</td>
                            <td style="border: 1px solid black;">{{ gain_low_effort_2_workers }}</td>
                            <td style="border: 1px solid black;">{{ total_gain_low_effort_2_workers }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ one worker.<br>The worker chooses High effort.</td>
                            <td style="border: 1px solid black;">{{ gain_high_effort_1_worker }}</td>
                            <td style="border: 1px solid black;">{{ gain_high_effort_1_worker }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ one worker.<br>The worker chooses Low effort.</td>
                            <td style="border: 1px solid black;">{{ gain_low_effort_1_worker }}</td>
                            <td style="border: 1px solid black;">{{ gain_low_effort_1_worker }}</td>
                        </tr>
                    </table>
                    </div>
                <div style="margin-bottom: 10px;"></div>
                <p>
                    <button type="button" class="btn btn-link" onclick="GoBackToInstructions()"> Go back to instructions </button>
                </p>
            </div>
        </div>
    </div>
</div>


<div class="tab" id="comprehension_q2" data-solved="0" style="display: none">
    <div class="card">
        <h5 class="card-header">Question 2</h5>
        <div class="card-body">
            <p>
                Suppose an employer employed a worker for a wage of <b>{{ q2_wage }}</b> and requested <b>{{ q2_effort_requested }}</b> effort.
                The worker decided to provide <b>{{ q2_effort_received }}</b> effort.
            </p>
            <p>
                 What profits would the worker and the employer make in this case?
            </p>

            <table>
                <tr>
                    <td>
                        <input type="number" id="q2_employer_profit" class="form-control" placeholder="Employer profit">
                    </td>
                    <td>
                        <input type="number" id="q2_worker_profit" class="form-control" placeholder="Worker profit">
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="q2" onclick="submitAnswer(this.id)"> Submit Answer</button>
                    </td>
                </tr>
            </table>
            <div style="margin-top: 20px;"></div>
            <hr style="border-top: 1px solid #ccc;">
            <button type="button" class="btn btn-outline-secondary" id="show-info-button2" onclick="showInformation(this.id)" style="display: none">Click for information on how profits are calculated</button>
            <button type="button" class="btn btn-outline-secondary" id="hide-info-button2" onclick="hideInformation(this.id)" style="display: none">Click to hide information</button>
            <div id="explainer-clicked2" style="display: none">
                    <h5 class="underline">Worker profits</h5>
                <ul class="list" style="margin-top: -10px;">
                    <li> If a worker accepts no job offer, you earn <b> {{ outside_option_workers_points_tokens }} {{ currency_plural }} </b>.</li>
                    <li> If a worker a job offer and chooses Low effort, profits equal the wage minus the low cost of effort: <b> wage – {{ low_effort_points_tokens }} {{ currency_plural }}  </b>.</li>
                    <li> If a worker a job offer and chooses High effort, profits equal the wage minus the high cost of effort: <b> wage – {{ high_effort_points_tokens }} {{ currency_plural }}  </b>.</li>
                </ul>
                <br>
                <h5 class="underline">Employer profits</h5>
                 <p class="block-sentence">
                    If an employers <b>does not employ any workers</b>, they earn <b>0 {{ currency_plural }}</b>.
                    If they employ one or two workers, profits are the difference between the total revenue and the wages they pay:
                </p>
                <p style="margin-left: 50px;">
                    <b>Profit = Total revenue - total wage payments</b>.
                </p>
                <p class="block-sentence">
                    The total revenue depends on the number of workers they employ and the effort workers choose, according to the table below.
                </p>
                   <div style="max-width: 80%; margin: 0 auto; padding: 10px;">
                      <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <th style="border: 1px solid black;">Case</th>
                            <th style="border: 1px solid black;">Revenue per worker</th>
                            <th style="border: 1px solid black;">Total revenue</th>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>Both workers chose High effort.</td>
                            <td style="border: 1px solid black;">{{ gain_high_effort_2_workers }}</td>
                            <td style="border: 1px solid black;">{{ total_gain_high_effort_2_workers }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>One worker chooses High effort.<br>The other worker chooses Low effort.</td>
                            <td style="border: 1px solid black;">{{ gain_mix_effort_2_workers }}</td>
                            <td style="border: 1px solid black;">{{ total_gain_mix_effort_2_workers }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>Both workers chose Low effort.</td>
                            <td style="border: 1px solid black;">{{ gain_low_effort_2_workers }}</td>
                            <td style="border: 1px solid black;">{{ total_gain_low_effort_2_workers }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ one worker.<br>The worker chooses High effort.</td>
                            <td style="border: 1px solid black;">{{ gain_high_effort_1_worker }}</td>
                            <td style="border: 1px solid black;">{{ gain_high_effort_1_worker }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ one worker.<br>The worker chooses Low effort.</td>
                            <td style="border: 1px solid black;">{{ gain_low_effort_1_worker }}</td>
                            <td style="border: 1px solid black;">{{ gain_low_effort_1_worker }}</td>
                        </tr>
                    </table>
                    </div>
                <div style="margin-bottom: 10px;"></div>
                <p>
                    <button type="button" class="btn btn-link" onclick="GoBackToInstructions()"> Go back to instructions </button>
                </p>
            </div>
        </div>
    </div>
</div>





<div class="tab" id="comprehension_q3" data-solved="0" style="display: none">
    <div class="card">
        <h5 class="card-header">Question 3</h5>
        <div class="card-body">
            <p>
                Suppose an employer employed two workers.<br>
                Worker 1 receives a wage of <b>{{ q3_wage_1 }}</b> and provides <b>{{ q3_effort_received_1 }}</b> effort.<br>
                Worker 2 receives a wage of <b>{{ q3_wage_2 }}</b> and provides <b>{{ q3_effort_received_2 }}</b> effort.<br>
            </p>
             <p>
                What profits would the employer and workers make in this case?
            </p>
            <table>
                <tr>
                    <td>
                        <input type="number" id="q3_employer_profit" class="form-control" placeholder="Employer profit">
                    </td>
                    <td>
                        <input type="number" id="q3_worker_profit" class="form-control" placeholder="Worker 1 profit">
                    </td>
                    <td>
                        <input type="number" id="q3_worker_profit_2" class="form-control" placeholder="Worker 2 profit">
                    </td>
                    <td>
                        <button type="button" class="btn btn-secondary" id="q3" onclick="submitAnswer(this.id)"> Submit Answer</button>
                    </td>
                </tr>
            </table>
            <div style="margin-top: 20px;"></div>
            <hr style="border-top: 1px solid #ccc;">
            <button type="button" class="btn btn-outline-secondary" id="show-info-button3" onclick="showInformation(this.id)" style="display: none">Click for information on how profits are calculated</button>
            <button type="button" class="btn btn-outline-secondary" id="hide-info-button3" onclick="hideInformation(this.id)" style="display: none">Click to hide information</button>
            <div id="explainer-clicked3" style="display: none">
                    <h5 class="underline">Worker profits</h5>
                <ul class="list" style="margin-top: -10px;">
                    <li> If a worker accepts no job offer, you earn <b> {{ outside_option_workers_points_tokens }} {{ currency_plural }} </b>.</li>
                    <li> If a worker a job offer and chooses Low effort, profits equal the wage minus the low cost of effort: <b> wage – {{ low_effort_points_tokens }} {{ currency_plural }}  </b>.</li>
                    <li> If a worker a job offer and chooses High effort, profits equal the wage minus the high cost of effort: <b> wage – {{ high_effort_points_tokens }} {{ currency_plural }}  </b>.</li>
                </ul>
                <br>
                <h5 class="underline">Employer profits</h5>
                 <p class="block-sentence">
                    If an employers <b>does not employ any workers</b>, they earn <b>0 {{ currency_plural }}</b>.
                    If they employ one or two workers, profits are the difference between the total revenue and the wages they pay:
                </p>
                <p style="margin-left: 50px;">
                    <b>Profit = Total revenue - total wage payments</b>.
                </p>
                <p class="block-sentence">
                    The total revenue depends on the number of workers they employ and the effort workers choose, according to the table below.
                </p>
                   <div style="max-width: 80%; margin: 0 auto; padding: 10px;">
                      <table style="border-collapse: collapse; width: 100%;">
                        <tr>
                            <th style="border: 1px solid black;">Case</th>
                            <th style="border: 1px solid black;">Revenue per worker</th>
                            <th style="border: 1px solid black;">Total revenue</th>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>Both workers chose High effort.</td>
                            <td style="border: 1px solid black;">{{ gain_high_effort_2_workers }}</td>
                            <td style="border: 1px solid black;">{{ total_gain_high_effort_2_workers }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>One worker chooses High effort.<br>The other worker chooses Low effort.</td>
                            <td style="border: 1px solid black;">{{ gain_mix_effort_2_workers }}</td>
                            <td style="border: 1px solid black;">{{ total_gain_mix_effort_2_workers }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ two workers.<br>Both workers chose Low effort.</td>
                            <td style="border: 1px solid black;">{{ gain_low_effort_2_workers }}</td>
                            <td style="border: 1px solid black;">{{ total_gain_low_effort_2_workers }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ one worker.<br>The worker chooses High effort.</td>
                            <td style="border: 1px solid black;">{{ gain_high_effort_1_worker }}</td>
                            <td style="border: 1px solid black;">{{ gain_high_effort_1_worker }}</td>
                        </tr>
                        <tr>
                            <td style="border: 1px solid black; word-break: break-word;">Employ one worker.<br>The worker chooses Low effort.</td>
                            <td style="border: 1px solid black;">{{ gain_low_effort_1_worker }}</td>
                            <td style="border: 1px solid black;">{{ gain_low_effort_1_worker }}</td>
                        </tr>
                    </table>
                    </div>
                <div style="margin-top: 10px;"></div>
                <p>
                    <button type="button" class="btn btn-link" onclick="GoBackToInstructions()"> Go back to instructions </button>
                </p>
            </div>
        </div>
    </div>
</div>


<br><br>

<button class="otree-btn-next btn otree-next-button invisible" id="to_next_page"></button>

{{ endblock }}


{{ block scripts }}

<script>


    function MoveToPrevious(btn) {
        let currentTab = btn.parentElement.parentElement;
        let previousTab = currentTab.previousElementSibling;
        currentTab.style.display = "none";
        previousTab.style.display = "block";
        window.scrollTo(0, 0); // Scroll to the top of the page
    }

    function MoveToNext(btn) {
        let currentTab = btn.parentElement.parentElement;
        let nextTab = currentTab.nextElementSibling;
        currentTab.style.display = "none";
        nextTab.style.display = "block";
        window.scrollTo(0, 0); // Scroll to the top of the page
    }

    function showInformation(id) {
        let buttonID = parseInt(id.slice(-1));
        console.log(buttonID);
        document.getElementById("explainer-clicked" + buttonID).style.display = "block";
        document.getElementById("show-info-button" + buttonID).style.display = "none";
        document.getElementById("hide-info-button" + buttonID).style.display = "block";
    }

    function hideInformation(id) {
        let buttonID = parseInt(id.slice(-1));
        console.log(buttonID);
        document.getElementById("explainer-clicked" + buttonID).style.display = "none";
        document.getElementById("show-info-button" + buttonID).style.display = "block";
        document.getElementById("hide-info-button" + buttonID).style.display = "none";
    }

    function GoBackToInstructions() {
        console.log("Go back to instructions");
        document.getElementById("comprehension_q1").style.display = "none";
        document.getElementById("comprehension_q2").style.display = "none";
        document.getElementById("comprehension_q3").style.display = "none";
        document.getElementById("instructions_6").style.display = "block";
    }

    function MoveToComprehension() {
        document.getElementById("are_you_ready_q").style.display = "none";
        window.scrollTo(0, 0); // Scroll to the top of the page
        for (var i = 1; i <= 7; i++) {
          var instructionId = "instructions_" + i;
          document.getElementById(instructionId).style.display = "none";
        }
        let q1_solved = document.getElementById("comprehension_q1").getAttribute("data-solved");
        let q2_solved = document.getElementById("comprehension_q2").getAttribute("data-solved");
        let q3_solved = document.getElementById("comprehension_q3").getAttribute("data-solved");
        if (q1_solved === "0") {
            document.getElementById("comprehension_q1").style.display = "block";
            document.getElementById("hide-info-button1").style.display = "none";
            document.getElementById("show-info-button1").style.display = "block";
            document.getElementById("explainer-clicked1").style.display = "none";
        } else if (q2_solved === "0") {
            console.log("showing q2")
            document.getElementById("comprehension_q2").style.display = "block";
            document.getElementById("hide-info-button1").style.display = "none";
            document.getElementById("show-info-button1").style.display = "none";
            document.getElementById("explainer-clicked1").style.display = "none";
            document.getElementById("hide-info-button2").style.display = "none";
            document.getElementById("show-info-button2").style.display = "block";
            document.getElementById("explainer-clicked2").style.display = "none";
        } else if (q3_solved === "0") {
            document.getElementById("comprehension_q3").style.display = "block";
            document.getElementById("hide-info-button2").style.display = "none";
            document.getElementById("show-info-button2").style.display = "none";
            document.getElementById("explainer-clicked2").style.display = "none";
            document.getElementById("hide-info-button3").style.display = "none";
            document.getElementById("show-info-button3").style.display = "block";
            document.getElementById("explainer-clicked3").style.display = "none";
        } else {
            document.getElementById("to_next_page").click();
        }
    }

    function liveRecv(data) {
        if (data.correct === true) {
            if (data.question === "q1") {
                alert("Correct answer. Proceeding to next question.")
                document.getElementById("comprehension_q1").style.display = "none";
                document.getElementById("comprehension_q2").style.display = "block";
                document.getElementById("comprehension_q1").dataset.solved = "1";
                document.getElementById("hide-info-button2").style.display = "block";
                document.getElementById("show-info-button2").style.display = "none";
                document.getElementById("explainer-clicked2").style.display = "none";
                document.getElementById("comprehension_q2").style.display = "block";
                document.getElementById("hide-info-button1").style.display = "none";
                document.getElementById("show-info-button1").style.display = "none";
                document.getElementById("explainer-clicked1").style.display = "none";
                document.getElementById("hide-info-button2").style.display = "none";
                document.getElementById("show-info-button2").style.display = "block";
                document.getElementById("explainer-clicked2").style.display = "none";
            } else if (data.question === "q2") {
                alert("Correct answer. Proceeding to next question.")
                document.getElementById("comprehension_q2").style.display = "none";
                document.getElementById("comprehension_q3").style.display = "block";
                document.getElementById("comprehension_q2").dataset.solved = "1";
                document.getElementById("hide-info-button2").style.display = "none";
                document.getElementById("show-info-button2").style.display = "none";
                document.getElementById("explainer-clicked2").style.display = "none";
                document.getElementById("hide-info-button3").style.display = "none";
                document.getElementById("show-info-button3").style.display = "block";
                document.getElementById("explainer-clicked3").style.display = "none";
            } else if (data.question === "q3") {
                alert("You have successfully completed the quiz. Proceeding to next page.")
                document.getElementById("comprehension_q3").style.display = "none";
                document.getElementById("to_next_page").click();
                document.getElementById("comprehension_q3").dataset.solved = "1";
            }
        } else {
            alert("Incorrect answer. Please try again.");
        }
    }


    function submitAnswer(clicked_id) {
        let employer_profit = parseInt(document.getElementById(clicked_id + "_employer_profit").value);
        let worker_profit = parseInt(document.getElementById(clicked_id + "_worker_profit").value);
        let next_question_id = "q" + (parseInt(clicked_id.slice(-1)) + 1);
        if (clicked_id === "q3") {                                                                                      // this is the last question.
            let worker_profit_2 = parseInt(document.getElementById(clicked_id + "_worker_profit_2").value);
            if (isNaN(employer_profit) || isNaN(worker_profit) || isNaN(worker_profit_2)) {
                alert("Error: Please enter a number in all fields before submitting.");
                return;
            } else {
                liveSend({
                    "information_type": "submit_answer",
                    "from": js_vars.playerID,
                    "market": js_vars.small_market,
                    "question": clicked_id,
                    "employer_profit": employer_profit,
                    "worker_profit": worker_profit,
                    "worker_profit_2": worker_profit_2,
                })
                document.getElementById(clicked_id + "_employer_profit").value = "";
                document.getElementById(clicked_id + "_worker_profit").value = "";
                document.getElementById(clicked_id + "_worker_profit_2").value = "";
            }
        }
        else {
            if (isNaN(employer_profit) || isNaN(worker_profit)) {
                alert("Error: Please enter a number in both fields before submitting.");
                return;
            }
            else {
                liveSend({
                    "information_type": "submit_answer",
                    "from": js_vars.playerID,
                    "market": js_vars.small_market,
                    "question": clicked_id,
                    "employer_profit": employer_profit,
                    "worker_profit": worker_profit,
                })
                document.getElementById(clicked_id + "_employer_profit").value = "";
                document.getElementById(clicked_id + "_worker_profit").value = "";
            }
        }
    }



    addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            submitAnswer(this.id)
        }
    });



</script>



{{ endblock }}
