
{{ block content }}

<style>
    .tab {
        margin-top: 0.5cm;
        margin-inside: 1cm;
    }
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
        color: #333;
        padding: 10px;
    }
    p {
        margin-bottom: 15px;
        margin-top: 5px;
    }
    .list {
      margin-top: 0;
        margin-bottom: 0;
        padding-left: 30px;
    }
    .block-sentence {
        display: block;
        text-align: justify;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

</style>




<div class="tab" id="instructions_1" style="display: block">
    <div class="card">
        <h5 class="card-header">Payment</h5>
        <div class="card-body">
             <p class="block-sentence">
                 At the beginning of the experiment, you will receive an  <b>initial endowment of {{ participation_fee }} Pound</b>.
                 During the experiment, you can earn more money by accumulating {{ currency_plural }}.
                 The amount earned will depend on your decisions and those of the other participants.
             </p>
            <p class="block-sentence">
                All {{ currency_plural }} you earn will be converted to Pounds at the end of the experiment. The exchange rate will be
            </p>
             <p style="margin-left: 50px;">
                    <b>1 {{ currency }} = {{ exchange_rate }} Pounds </b>.
             </p>
            <p class="block-sentence">
                At the end of the experiment, you will receive the money you earned during the experiment in addition to your {{ participation_fee }}-Pound initial endowment.
                You will be paid in cash and in private.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>


<div class="tab" id="instructions_2" style="display: none">
    <div class="card">
        <h5 class="card-header">Instructions - Part 1</h5>
        <div class="card-body">
            <p class="block-sentence">
                This set of instructions describes the first part of the experiment.
                After you finish the first part, there will be another set of instructions for the second part.
                The second part is very similar to the first part.
            </p>
            <p class="block-sentence">
                Please read the following instructions carefully.
                After the instructions, you will be asked a <b>set of questions to ensure you understand</b> the instructions.
                The experiment will begin after every participant has answered all questions.
            </p>
            <p class="block-sentence">
                If you have any <b>questions, please raise your hand</b>.
                We will answer your questions at your cubicle.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>


<div class="tab" id="instructions_3" style="display: none">
    <div class="card">
        <h5 class="card-header">General Information</h5>
        <div class="card-body">
          <p class="block-sentence">
              The experiment is divided into {{ total_rounds }} rounds, {{ shock_after_rounds }} rounds in the first part and {{ rounds_part_two }} rounds in the second part.
            </p>
            <p class="block-sentence">
                You have been randomly assigned to one of two roles: either an employer or a worker.
            </p>
            <p style="margin-left: 50px;">
                    <b>You will take the role of {{ player.participant.string_role }}</b>.
                    You will keep this role for the entire course of the experiment.
            </p>
            <p class="block-sentence">
                In the first part, you will interact in a group of {{ players_in_your_group }} randomly assigned participants.
                Each group has {{ employers_in_your_group }} employers and {{ workers_in_your_group }} workers.
            </p>
            <p class="block-sentence">
                All participants have received an identification number, which they will keep for the entire experiment.
                Your ID number is {{ player.participant.playerID }}.
                Please write the ID number on the paper in front of you.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>

<div class="tab" id="instructions_4" style="display: none">
    <div class="card">
        <h5 class="card-header">Short Overview of the Experimental Procedures</h5>
        <div class="card-body">
           <p class="block-sentence">
               In each round, employers choose to employ zero, one, or two workers.
               To employ a worker, an employer needs to pay a wage. In return, employed workers provide effort.
               Employers' profits depend on the number of workers they employ, the wages they pay, and the effort each worker provides.
               They will make profits if the wage they pay is lower than the effort worth they receive.
            </p>
            <p class="block-sentence">
            On the other hand, your profits will depend on
            <ol class="list" style="margin-top: -10px">
                    <li>whether you are employed</li>
                    <li>the wage you receive</li>
                    <li>the effort you provide</li>
                </ol>
            </p>
            <p class="block-sentence">
                Effort is costly to you, so you make profits only if your effort cost is lower than the wage you receive.
            </p>
            <p>
               The first part lasts for {{ shock_after_rounds }} rounds. Each round has two phases:
            </p>
            <p class="block-sentence">
                1. First, a <b>market phase</b> lasting for {{ market_time }} seconds.
                During this phase, employers can submit job offers, which workers can accept.
                When submitting a job offer, an employer specifies two things
                <ul class="list" style="margin-top: -10px">
                    <li>	The wage they will pay  </li>
                    <li>	The effort they want the worker to choose </li>
                </ul>
            </p>
            <p class="block-sentence">
           Once employers submit offers, workers get to see them and decide which to accept.
                The first worker to accept an offer will get it.
                <b>Each worker can accept at most one job offer in each round.
                Each employer can employ at most two workers.</b>
                Unaccepted offers are deleted at the end of the market phase.
            </p>
            <p class="block-sentence">
                2. After the market phase, workers who accepted a job offer enter the <b>production phase</b>.
                In this phase, workers decide their effort.
                <b>Workers are not forced to provide the effort desired by the employer.
                They are free to choose any effort.</b>
            </p>
            <p class="block-sentence">
                Once all workers have chosen their effort, everyone's profits are calculated and the next round starts.
                The sum of profits across all rounds will determine your earnings for the experiment.
            </p>
        </div>
    </div>
    <br>
  <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>




<div class="tab" id="instructions_5" style="display: none">
    <div class="card">
        <h5 class="card-header">The Market Phase in Detail</h5>
        <div class="card-body">
           <p class="block-sentence">
            Each round begins with a <b>market phase</b>.
           </p>
            <p class="block-sentence">
                The figure below shows a preview of the market phase screen.
                The white box below the timer gives <b>information</b> about the market, including the round number,
                the number of workers and employers, the number of open offers,
                the number of workers who have not accepted a job offer, the share of offers requesting high effort,
                and the average wage of all open and accepted offers in the market.
            </p>
            <p class="block-sentence">
                Employers will send job offers to the market.
                They can submit up two open job offers at a time.
                They can also submit no offer at all or cancel open offer.
                The offers employers send will appear in the "<b>Open offers</b>" table in the left-bottom of the page.
                An offer includes a wage between 0 and 100 {{ currency_plural }}, a desired effort level which is either "high" or "low", and a unique Job ID for each job.
            </p>
            {% if player.participant.currency_is_points == True %}
                <div style="display: flex; justify-content: center; padding-top: -15px; padding-bottom: 15px;">
                    <img src="{{ static 'instructions/worker_points_1.PNG' }}"/>
                </div>
            {% else %}
                <div style="display: flex; justify-content: center; padding-top: -15px; padding-bottom: 15px;">
                    <img src="{{ static 'instructions/worker_tokens_1.PNG' }}"/>
                </div>
            {% endif %}
            <p class="block-sentence">
            To <b>accept a job</b> offer, you must:
                <ol class="list" style="margin-top: -10px">
                    <li>whether you are employed</li>
                    <li>the wage you receive</li>
                    <li>the effort you provide</li>
                </ol>
            </p>
            <p class="block-sentence; padding-bottom: 5px;">
            You can accept an offer as long as it is "open".
            The first worker to accept an offer will get the job.
            You will see an error message in case you type a wrong job ID or the job is no longer open.
            </p>
            <p class="block-sentence">
                <b>You can accept at most one offer during each round</b>, and each job offer can only be accepted by one worker.
                If you accept an offer, you will see a notification and the offer will appear in the "Accepted Offers" table.
                You can no longer accept other offers in this round.
                See the figure below for an example of how the screen will look after you accepted a job offer.
            </p>
            {% if player.participant.currency_is_points == True %}
                <div style="display: flex; justify-content: center; padding-top: -15px; padding-bottom: 15px;">
                    <img src="{{ static 'instructions/worker_points_2.PNG' }}"/>
                </div>
            {% else %}
                <div style="display: flex; justify-content: center; padding-top: -15px; padding-bottom: 15px;">
                    <img src="{{ static 'instructions/worker_tokens_2.PNG' }}"/>
                </div>
            {% endif %}
            <p class="block-sentence">
                The market phase <b>ends</b> when all workers have accepted an offer or when the time limit of {{ market_time }} seconds is reached.
                The time left in the current round will be displayed in a yellow box at the top of the page.
                When the market phase is over, no offers cannot be submitted or accepted.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>




<div class="tab" id="instructions_6" style="display: none">
    <div class="card">
        <h5 class="card-header">The Production Phase in Detail</h5>
        <div class="card-body">
           <p class="block-sentence">
               Following the market phase, all workers who have accepted a job offer enter the production phase.
               In this phase, workers choose their effort. <b>The effort requested by employers is not binding</b>.
               Hence, you can choose <b>high</b> or <b>low</b> effort irrespective of the effort indicated in the job offer.
           </p>
            <p class="block-sentence">
                If you have accepted a job offer, you will need to choose the effort to put in to work for the firm.
                <b>The effort level requested by the firm is not binding</b>. The more effort you provide the lower will your income in this round.
            </p>
            <p class="block-sentence">
              The page you see looks like the one shown below.
                At the top of the page, you will see the wage you accepted and the effort requested by the employer.
                Below, you see the cost of each effort choice.
                <ul class="list" style="margin-top: -10px">
                    <li> <b> The cost of Low effort is {{ low_effort_points_tokens }} {{ currency_plural }} </b></li>
                    <li> <b> The cost of High effort is {{ high_effort_points_tokens }} {{ currency_plural }}  </b></li>
                </ul>
            </p>
            <p class="block-sentence">
               {% if player.participant.currency_is_points == True %}
                    <div style="display: flex; justify-content: center; padding-top: -15px; padding-bottom: 15px;">
                        <img src="{{ static 'instructions/worker_points_3.PNG' }}"/>
                    </div>
                {% else %}
                    <div style="display: flex; justify-content: center; padding-top: -15px; padding-bottom: 15px;">
                        <img src="{{ static 'instructions/worker_tokens_3.PNG' }}"/>
                    </div>
                {% endif %}
            </p>
            <h5 style="padding-bottom: 15px">How are your profits calculated?</h5>
            <p class="block-sentence">
                In each round, your profits depend on whether you are employed, you wage, and your effort level.
            </p>
            <ul class="list" style="margin-top: -10px">
                <li> If you do not accept any job offer, you earn <b> {{ outside_option_workers_points_tokens }} {{ currency_plural }} </b></li>
                <li> If you accept a job offer and choose Low effort, your profits equal the wage minus the low cost of effort: <b> wage – {{ low_effort_points_tokens }} {{ currency_plural }}  </b></li>
                <li> If you accept a job offer and choose High effort, your profits equal the wage minus the high cost of effort: <b> wage – {{ high_effort_points_tokens }} {{ currency_plural }}  </b></li>
            </ul>
            <p class="block-sentence">
                <u>Example</u>: if you receive a wage of {{ worker_example_wage }}  {{ currency_plural }} and choose high effort, your profits in this round are {{ worker_example_wage }} –  {{ high_effort_points_tokens }} = {{ worker_example_profit_high_effort }} {{ currency_plural }}.
                If, instead, you choose Low effort, the profits are  {{ worker_example_wage }} – {{ low_effort_points_tokens }} = {{ worker_example_profit_low_effort }}  {{ currency_plural }}.
            </p>
            <p class="block-sentence">
               As you can see, your profits are larger the higher the wage you receive.
                Your profits are also higher if you choose Low effort.
                Note that you can make a loss if the effort costs are higher than your wage.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>


<div class="tab" id="instructions_8" style="display: none">
    <div class="card">
        <h5 class="card-header">How are the employers profits calculated?</h5>
        <div class="card-body">
           <p class="block-sentence">
                The employers' profits in each round are determined by number of workers they employ, the wages they pay, and the effort their workers choose.
           </p>
            <p class="block-sentence">
                If they <b>do not employ any workers</b> in a round, they earn <b>0 {{ currency_plural }}</b> in that round.
            </p>
            <p class="block-sentence">
                If they employ one or two workers, their profits are the difference between the total revenue and the wages they pay:
            </p>
            <p style="margin-left: 50px;">
                <b>Profit = Total revenue - total wage payments</b>.
            </p>
            <p class="block-sentence">
                The total revenue depends on the number of workers they employ and the effort workers choose, according to the table below.
            </p>
            <p class="block-sentence">
                The cost of effort is higher if you choose a high effort level.
                You will have to pay {{ high_effort_points_tokens }} {{ currency_plural }} if you choose provide high effort,
                and {{ low_effort_points_tokens }} {{ currency_plural }} if you choose low effort.
            </p>
            <p class="block-sentence">
                <u>Example</u>: If you received a wage of 50 and provided high effort, your profit in this round would be
            </p>
            <p style="margin-left: 50px;">
                Income = 50 –  20 = 30.
            </p>
            <p class="block-sentence">
                The table below can help you get an intuition the profit you can make.
                The horizontal axis gives you the wage you get and the horizontal axis gives the effort you choose.
                The numbers in the table are your profit per round.
            </p>
            <p>
                Insert table
            </p>
        </div>
    </div>
    <br>
  <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this)" style="float: right;">Next</button>
    </p>
</div>


<div class="tab" id="instructions_9" style="display: none">
    <div class="card">
        <h5 class="card-header">How is the firms' profit calculated?</h5>
        <div class="card-body">
           <p class="block-sentence">
                The firms' profit in each round is determined by the wage they pay to all their workers, the effort you provide to them, the effort other workers provide, and the number of workers they employ.
               If they <b>do not employ any workers</b> in a round, they will earn a profit of {{ outside_option_employers_points_tokens }} {{ currency_plural }} in that round.
           </p>
            <p class="block-sentence">
                If they employ at least one worker, their profit will be the difference between the revenue they gain from worker effort choices and the wage they pay to all workers:
            </p>
            <p style="margin-left: 50px;">
                <b>Profit = Total revenue – total wage payments</b>.
            </p>

            <div class="container">
              <table>
                <tr>
                  <th colspan="3">Worker Effort and Revenue</th>
                </tr>
                <tr>
                  <th>Case</th>
                  <th>Revenue per worker</th>
                  <th>Total revenue</th>
                </tr>
                <tr>
                  <td>Employ two workers. Both workers chose High effort</td>
                  <td>140</td>
                  <td>280</td>
                </tr>
                <tr>
                  <td>Employ two workers. One worker chooses High effort and the other chooses Low effort</td>
                  <td>77</td>
                  <td>154</td>
                    </div>
                </div>
                </tr>
            <tr>
              <td>Employ two workers. Both workers chose Low effort</td>
              <td>14</td>
              <td>28</td>
            </tr>
            <tr>
              <td>Employ one worker. The worker chooses High effort</td>
              <td>160</td>
              <td>160</td>
            </tr>
            <tr>
              <td>Employ one worker. The worker chooses Low effort</td>
              <td>16</td>
              <td>16</td>
            </tr>
          </table>
        </div>

    <br>
  <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this)">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToNext(this); ChangeHeader();" style="float: right;">Next</button>
    </p>
</div>


<div class="tab" id="are_you_ready_q" style="display: none">
    <div class="card">
        <h5 class="card-header">Are you ready?</h5>
        <div class="card-body">
            <p class="block-sentence">
               The experiment will not start until all participants are familiar with the instructions.
                To ensure this is the case, we ask you to <b>answer three questions</b> on the following pages.
            </p>
            <p class="block-sentence">
                Click on the next button below when you are ready to answer these questions.
            </p>
        </div>
    </div>
    <br>
    <p>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToPrevious(this); ChangeHeaderBack();">Previous</button>
        <button type="button" class="btn-tab btn-secondary" data-offset="1" onclick="MoveToComprehension(this)" style="float: right;">Next</button>
    </p>
</div>


<br><br>

<button class="otree-btn-next btn otree-next-button invisible" id="to_next_page"></button>



{{ endblock }}


{{ block scripts }}

<script>


    function MoveToPrevious(btn) {
        let currentTab = btn.parentElement.parentElement;
        let previousTab = currentTab.previousElementSibling;
        currentTab.style.display = "none";
        previousTab.style.display = "block";
    }

    function MoveToNext(btn) {
        let currentTab = btn.parentElement.parentElement;
        let nextTab = currentTab.nextElementSibling;
        currentTab.style.display = "none";
        nextTab.style.display = "block";
    }

    function ChangeHeader() {
        document.getElementById("header").innerHTML = "Quiz";
    }

    function ChangeHeaderBack() {
        document.getElementById("header").innerHTML = "Instructions";
    }

    function GoBackToInstructions() {
        document.getElementById("comprehension_q1").style.display = "none";
        document.getElementById("comprehension_q2").style.display = "none";
        document.getElementById("comprehension_q3").style.display = "none";
        document.getElementById("comprehension_q4").style.display = "none";
        document.getElementById("header").innerHTML = "Instructions";
        document.getElementById("instructions_6").style.display = "block";
    }

    function MoveToComprehension() {
        document.getElementById("instructions_1").style.display = "none";
        document.getElementById("instructions_2").style.display = "none";
        document.getElementById("instructions_3").style.display = "none";
        document.getElementById("instructions_4").style.display = "none";
        document.getElementById("are_you_ready_q").style.display = "none";
        let q1_solved = document.getElementById("comprehension_q1").getAttribute("data-solved");
        let q2_solved = document.getElementById("comprehension_q2").getAttribute("data-solved");
        let q3_solved = document.getElementById("comprehension_q3").getAttribute("data-solved");
        let q4_solved = document.getElementById("comprehension_q4").getAttribute("data-solved");
        if (q1_solved === "0") {
            document.getElementById("comprehension_q1").style.display = "block";
        } else if (q2_solved === "0") {
            console.log("showing q2")
            document.getElementById("comprehension_q2").style.display = "block";
        } else if (q3_solved === "0") {
            document.getElementById("comprehension_q3").style.display = "block";
        } else if (q4_solved === "0") {
            document.getElementById("comprehension_q4").style.display = "block";
        } else {
            document.getElementById("to_next_page").click();
        }
        document.getElementById("header").innerHTML = "Quiz";
    }

    function liveRecv(data) {
        if (data.correct === true) {
            if (data.question === "q1") {
                alert("Correct answer. Proceeding to next question.")
                document.getElementById("comprehension_q1").style.display = "none";
                document.getElementById("comprehension_q2").style.display = "block";
                document.getElementById("comprehension_q1").dataset.solved = "1";
            } else if (data.question === "q2") {
                alert("Correct answer. Proceeding to next question.")
                document.getElementById("comprehension_q2").style.display = "none";
                document.getElementById("comprehension_q3").style.display = "block";
                document.getElementById("comprehension_q2").dataset.solved = "1";
            } else if (data.question === "q3") {
                alert("Correct answer. Proceeding to next question.")
                document.getElementById("comprehension_q3").style.display = "none";
                document.getElementById("comprehension_q4").style.display = "block";
                document.getElementById("comprehension_q3").dataset.solved = "1";
            } else if (data.question === "q4") {
                alert("You have successfully completed the quiz. Proceeding to next page.")
                document.getElementById("comprehension_q4").style.display = "none";
                document.getElementById("to_next_page").click();
                document.getElementById("comprehension_q4").dataset.solved = "1";
            }
        } else {
            alert("Incorrect answer. Please try again.");
        }
    }


    function submitAnswer(clicked_id) {
        let employer_profit = parseInt(document.getElementById(clicked_id + "_employer_profit").value);
        let worker_profit = parseInt(document.getElementById(clicked_id + "_worker_profit").value);
        let next_question_id = "q" + (parseInt(clicked_id.slice(-1)) + 1);
        if (clicked_id === "q4") {                                                                                      // this is the last question.
            let worker_profit_2 = parseInt(document.getElementById(clicked_id + "_worker_profit_2").value);
            if (isNaN(employer_profit) || isNaN(worker_profit) || isNaN(worker_profit_2)) {
                alert("Error: Please enter a number in all fields before submitting.");
                return;
            } else {
                liveSend({
                    "information_type": "submit_answer",
                    "from": js_vars.playerID,
                    "market": js_vars.small_market,
                    "question": clicked_id,
                    "employer_profit": employer_profit,
                    "worker_profit": worker_profit,
                    "worker_profit_2": worker_profit_2,
                })
                document.getElementById(clicked_id + "_employer_profit").value = "";
                document.getElementById(clicked_id + "_worker_profit").value = "";
                document.getElementById(clicked_id + "_worker_profit_2").value = "";
            }
        }
        else {
            if (isNaN(employer_profit) || isNaN(worker_profit)) {
                alert("Error: Please enter a number in both fields before submitting.");
                return;
            }
            else {
                liveSend({
                    "information_type": "submit_answer",
                    "from": js_vars.playerID,
                    "market": js_vars.small_market,
                    "question": clicked_id,
                    "employer_profit": employer_profit,
                    "worker_profit": worker_profit,
                })
                document.getElementById(clicked_id + "_employer_profit").value = "";
                document.getElementById(clicked_id + "_worker_profit").value = "";
            }
        }
    }



    addEventListener("keydown", function (event) {
        if (event.key === "Enter") {
            submitAnswer(this.id)
        }
    });



</script>


<!-- MathJax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    window.MathJax = {
      loader: {load: ['[tex]/cases']},
      tex: {packages: {'[+]': ['cases']}}
    };
</script>

{{ endblock }}
