{{ block title }}
    Instructions for Part 2
{{ endblock }}
{{ block content }}

<style>
         body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
            color: #333;
            padding: 20px;
         }
</style>


<!--  CASE 4: REMAINERS -->

{% if skip_game %}
    <div class="card">
        <div class="card-body">
            <p>
                You have been randomly selected to exit the market.
                The second part of the experiment will comprise only a short questionnaire for you.
            </p>
            <p>
                You will finish before the other participants.
                Please remain seated and quiet until everybody has finished.
                You may use your phone while waiting for the others to finish, but please be quiet.
            </p>
        </div>
    </div>
<br>

{% else %}

<div class="card">
    <h5 class="card-header">Overview</h5>
    <div class="card-body">
        <p>
            The second part of the experiment is very similar to the first part.
        </p>
        <p>
            There will be {{ num_rounds_left }} more rounds to play.
            Each round will comprise a market and production stage like before.<br>
        </p>
    </div>
</div>

<br>

{% endif %}

<!--  CASE 1: MIGRANTS -->
{% if migrant == True %}

<div class="card">
    <h5 class="card-header">Differences to Part 1</h5>
     <div class="card-body">
         <p>
            You have been <b>moved to a different market</b>.
         </p>
         <p>
            This market is different from the market you were in before.
            There are {{ num_employers }} employer(s) and {{ num_workers }} worker(s) in this market.<br>
         </p>
   </div>
</div>
 <br>

{% else %}

        {% if large_market == True %}

                <!--  CASE 2: EMPLOYERS IN THE LARGE MARKET -->
               {% if is_employer == True %}

                    {% if income_diff == True %}
                        <div class="card">
                                <h5 class="card-header">Differences to Part 1</h5>
                                <div class="card-body">
                                    <p>
                                        The difference is that </b>{{ shock_size }} worker(s) from another market have joined</b> this market.
                                    </p>
                                    <p>
                                        The new workers played in a different market, where firms were less productive and thus paid lower wages.
                                        For this reason, a high share of workers provide high effort even at low wages.
                                        For example, the average wage in your market was {{ average_wage }} and {{ average_effort }}% of workers provided {{ name_high_effort }} effort.
                                        In a previous session, {{ predicted_effort}}% of workers from the other market were for providing {{ name_high_effort }} effort for this wage.
                                    </p>
                                    <p>
                                        The number of employers is the same as in the first part of the experiment.
                                        This means that there are {{ num_employers }} employer(s) and {{ num_workers }} worker(s) in this market.<br>
                                    </p>
                                </div>
                        </div>
                    {% else %}
                        <div class="card">
                                <h5 class="card-header">Differences to Part 1</h5>
                                <div class="card-body">
                                    <p>
                                        The difference is that <b>{{ shock_size }} worker(s) from another market have joined</b> this market.
                                        The new workers played in a market, which was the same as your market.
                                     </p>
                                    <p>
                                        The number of employers is the same as in the first part of the experiment.
                                        This means that there are {{ num_employers }} employer(s) and {{ num_workers }} worker(s) in this market.<br>
                                    </p>
                                </div>
                        </div>


                    {% endif %}

                <br>


                <!--  CASE 3: Workers IN THE LARGE MARKET -->
               {% else %}
                    <div class="card">
                            <h5 class="card-header">Differences to Part 1</h5>
                            <div class="card-body">
                                <p>
                                    The difference is that <b>{{ shock_size }} worker(s) from another market have joined</b> this market.
                                </p>
                                <p>
                                    The number of employers is the same as in the first part of the experiment.
                                    This means that there are {{ num_employers }} employer(s) and {{ num_workers }} worker(s) in this market.<br>
                                </p>
                            </div>
                    </div>
                <br>
        {% endif %}
    {% endif %}
{% endif %}

    {{ next_button }}

{{ endblock }}
