<div class="card"  id="info_box" style="display: block">
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Info box</h6>
        <p>
            This is round number <b><span id="round_number">{{ round_number }}</span></b>.
            Your group includes <b><span id="employers_total">{{ employers_in_group }}</span> </b> employer(s)
            and <b><span id="workers_total">{{ num_workers }}</span> </b> worker(s). <br>
        </p>
        <p>
            You are in the role of <b><span id="your_role_string">{{ string_role }}</span></b>.

            {% if player.participant.is_employer == True %}
                You can employ at most two workers in this round.
            {% else %}
                You can accept at most one job offer this round.
            {% endif %} <br>
        </p>
        <p>
            There are currently <b><span id="workers_left">{{ num_workers }}</span> </b> unmatched worker(s)
            and <b><span id="offers_left">0</span> </b> public offer(s) in the market. <br>

            {% if player.participant.currency_is_points == True %}
                The average wage level of public offers is <b><span id="average_wage_points">0</span></b> points.
            {% else %}
                The average wage level of public offer is <b><span id="average_wage_tokens">0</span></b> tokens.
            {% endif %}

            The share of public offers requesting {{ name_high_effort }} effort is <b><span id="average_effort">0</span></b>%.
        </p>
        <p>
            This is player {{ playerID }}
        </p>
    </div>
</div>