{{ block title }}
    Instructions for Part 2
{{ endblock }}
{{ block content }}

<!--  CASE 4: REMAINERS -->

{% if migrant == False and large_market == False %}
    <div class="card">
        <div class="card-body">
            <p>
                You have been randomly selected to exit the market.
                The second part of the experiment will comprise only a short questionnaire for you.
            </p>
            <p>
                You will finish before the other participants.
                Please remain seated and quiet until everybody has finished. <br>
            </p>
        </div>
    </div>
<br>

{% else %}

<div class="card">
    <h5 class="card-header">Overview</h5>
    <div class="card-body">
        <p>
            The second part of the experiment is very similar to the first part. <br>
            There will be {{ num_rounds_left }} more rounds to play.
            Each round will comprise a market and production stage like before.
        </p>
    </div>
</div>

<br><br>

{% endif %}

<!--  CASE 1: MIGRANTS -->
{% if migrant == True %}

<div class="card">
    <h5 class="card-header">Differences to Part 1</h5>
     <div class="card-body">
         <p>
            You have been moved to a different market.
            This market is different from the market you were in before.
            There are {{ num_employers }} employer(s) and {{ num_workers }} worker(s) in this market.<br>
         </p>
   </div>
</div>
 <br><br>

{% else %}

        {% if large_market == True %}

                <!--  CASE 2: EMPLOYERS IN THE LARGE MARKET -->
               {% if is_employer == True %}
                    <div class="card">
                        <h5 class="card-header">Differences to Part 1</h5>
                            <div class="card-body">
                                <p>
                                    The difference is that {{ shock_size }} worker(s) from another market have joined this market.
                                    The new workers played in a low-income market before. This means that they provided similar effort levels for lower wages.
                                    For example, the average in your market was X for an average effort of Y. For this wage,workers in the low-income market provided on average an effort of Z. <br>
                                 </p>
                                <p>
                                    The number of employers is the same as in the first part of the experiment.
                                    This means that there are {{ num_employers }} employer(s) and {{ num_workers }} worker(s) in this market.<br>
                                </p>
                            </div>
                    </div>
                <br><br>


                <!--  CASE 3: Workers IN THE LARGE MARKET -->
               {% else %}
                    <div class="card">
                        <h5 class="card-header">Differences to Part 1</h5>
                            <div class="card-body">
                                <p>
                                    The difference is that {{ shock_size }} worker(s) from another market have joined this market.
                                    The number of employers is the same as in the first part of the experiment.
                                    This means that there are {{ num_employers }} employer(s) and {{ num_workers }} worker(s) in this market.<br>
                                </p>
                            </div>
                    </div>
                <br><br>
        {% endif %}
    {% endif %}
{% endif %}

    {{ next_button }}

{{ endblock }}
